body {
    padding: 1rem;/*all or top right bottom left or top and bottom left and right*/
background-color: green;

}

section > div{
width: 80%;
margin: 1rem auto;


}

h1{
color: midnightblue;
font: Ariel;
border: 2px solid palegoldenrod;
 text-align: center;
}


.name{
color: maroon;

}
button {
font: Georgia;
background-color: silver;

}